.box
{       
    display: inline-block;
    text-align: center;
    background-color: #eff6fb;
    box-shadow: 6px 6px 1px #0d2230;
    border-radius: 10px;
    padding: 40px 40px;

}

.box .title

{
    
    margin-bottom: 10px;

}