.box
{       
    display: inline-b;
    text-align: center;
    background-color: #c2ebeb;
    box-shadow: 6px 6px 1px #002929;
    border-radius: 10px;
    padding: 40px 40px;

}

.box .title

{
    
    margin-bottom: 10px;

}