.main-title
{
    
    font-family: Poppins, sans-serif;
    font-size: 40px;
    color: #0D2230;
    text-shadow: 1px 1px 0 #0d2230;
    
}

.main-title.-second 
{
    color:#091720;
    text-shadow: none;
    text-align: center;

}