.main-section 
{

    background-color: #eff6fb;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid black;
    
}


.main-section .main-title 

{

    margin-bottom: 60px;


}

.main-section.-bgpurple

{

    background-color:#9A7197;
    border-bottom: 10px solid #eff6fb;
    

}