.main-action   
{  
    display: inline-flex;
    align-items: center;
    color: #7c5869;
    font-size: 20px;   
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
    

.main-action::before 
{
    content: "";
    background-color: #5a404c;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50px;

}