.main-banner 
{

    background-image: url(../../assets/img/background\ portfolio.png);
    
    background-repeat: repeat;
    height: 400px;
    border-bottom: 10px solid black;
    padding-top: 115px;
    padding-left: 800px;
    
}



.main-banner .wrapper {

    display: flex;
    flex-direction: column;
    width: 640px;

}

.main-banner .main-box {
    
    
    margin-bottom: 40px;  
    

}

.main-banner .navigation {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

