.tec-skills
{   
    display: flex;
    font-family: Poppins, sans-serif;
    color: #7c5869;
    font-size: 25px;
    align-items: center;

}

.tec-skills .icon 

{   
    margin-right: 25px;
    width: 75px;
    margin-bottom: 5px;

}

.tec-skills .right

{

    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.tec-skills .title 

{

    margin-bottom: 10px;

}